
﻿<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" >
  <a class="navbar-brand" href="#">Teste Gol</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <span class="navbar-text" (click)="logout()" >
      Logout
    </span>
  </div>
</nav>

<div class="jumbotron">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <router-outlet></router-outlet>
          </div>
      </div>
  </div>
</div>

